<footer>
	<div class="bg-grey-4 ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			
			<p class="f3 lh-title light-gray b tc mb2">Stuff Guys Should Know</p>
			<p class="tc">Subscribe to our weekly newsletter to get new articles in your inbox every Monday</p>
			<div class="tc">
				<a href="/newsletter/" class="btn raise" id="cta-footer">Sign Up</a>
			</div>
			
		</div>

		
	</div>


	<div class="bg-black">
	<div class="measure center pt3">
		<p class="tc f6 grey-2"><a href="/about/">About</a> | <a href="#">Contact</a> | <a href="#">Advertising Disclosure</a> | <a href="/privacy-policy/">Privacy Policy</a></p>
		<p class="tc f6 grey-3">Copyright HCDMAG.com - All Rights Reserved - </p>
		

	</div>

	</div>
</div>
	
</footer>

{{ partial "svg" . }}

</body>

</html>
