<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black relative">

	<!-- Logo -->
	<a href="/" class="ph1 db mr4 h-100 w4 flex-none">
		<img src="/img/hcdmag_fist_300.png" alt="HCDMAG" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex f6 white sans-serif">
		<li><a href="#" class="pa3 no-underline db">OUTDOORS</a></li>
		<li><a href="#" class="pa3 no-underline db">AUTOMOTIVE</a></li>
		<li><a href="#" class="pa3 no-underline db">TIRES</a></li>
		<li><a href="#" class="pa3 no-underline db">WHEELS</a></li>
	</ul>

</nav>
